.login__background {
  align-items: center;
  background-color: darken($color: white, $amount: 10);
  display: flex;
  height: 100vh;
  padding: 0.1px;
  flex-direction: column;
  justify-content: center;
}

.login__form {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 25rem;
}

.login__form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__title {
  color: $color2;
  font-family: $font-FamilyLato;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
}

.login__form-input {
  outline: none;
  padding: 0.3rem;
  border: none;
  font-family: $font-FamilyLato;
  border-bottom: 1.5px solid black;

  transition: border-bottom 0.4s ease;

  &:focus {
    border-bottom: 1.5px solid $color2;
  }
}

.login__link {
  margin-top: 1rem;
  text-align: center;
}

.login__link-item {
  color: black;
  font-family: $font-FamilyRoboto;
  text-decoration: none;

  &:hover {
    color: $color2;
    text-decoration: underline;
  }
}
